* {
  font-family: custom1, azo-sans-web, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-color: white;
  padding: 0, 9%;
  padding-bottom: 100px;
}

.menu-container h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 15px;
  /* text-shadow: 0 5px 10px rgb(209, 154, 197); */
}

.services-svg {
  width: 10%;
  height: auto;
  fill: white;
}

.menu-container .menu-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  width: 100%;
}

.menu-card {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgb(209, 154, 197);
  border-radius: 8px;
  background-color: rgb(69, 51, 147);
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 22px;
  color: white;
}

.menu-card-container > div:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
/* .menu-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.menu-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: ;
} */
