.contact-form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  overflow: visible;
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px; /* Adjust the size as needed */
  height: 1200px; /* Adjust the size as needed */
  transform: translate(-50%, -50%);
  background-image: url("/assets/Images/logo-circle-10x.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotate 20s linear infinite; /* Rotate animation */
  opacity: 0.1;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.contact-form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
}

button[type="submit"] {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(69, 51, 147);
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(115, 202, 179);
}

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  .contact-form-container {
    padding: 10px;
    background-size: contain; /* Adjust background size for mobile */
  }

  .background-image {
    width: 650px; /* Adjust the size as needed */
    height: 650px; /* Adjust the size as needed */
  }

  .contact-form {
    padding: 15px;
    width: 90%;
    max-width: 400px;
  }

  .form-group input,
  .form-group textarea {
    padding: 8px;
  }

  button {
    padding: 8px;
  }
}
