.video-container {
  width: 100vw;
  height: auto;
  overflow: hidden;
  position: relative;
  /* padding-top: 0px; */
  background-color: none;
}

.responsive-video {
  width: 100%;
  height: auto;
}
