.video-player {
  padding: 450px;
  /* padding-top: 50px; */
  width: 100vw;
  height: auto; /* Adjust this value to make the video height smaller */
  overflow: hidden;
  position: relative;
  background-color: none;
}

.responsive-video {
  width: 100%;
  height: auto; /* Adjust this value to make the video height smaller */
}

.actual-video {
  width: 100%;
  height: auto; /* Adjust this value to make the video height smaller */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
