.carousel-container {
  position: relative;
  width: 85vw;
  height: auto;
  /* max-width: 800px; */
  margin: auto;
  overflow: visible;
}

.carousel-image {
  width: 100%;
  height: 400px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure the image covers the entire area without distortion */
  display: block;
}

/* .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
} */

/* .carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
} */
