/* App.css */

html {
  scroll-behavior: smooth;
}

.section {
  padding: 50px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-spacing {
  padding-top: 200px; /* Adjust the value as needed */
  padding-bottom: 200px; /* Adjust the value as needed */
}

.home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}
.about-cont {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  max-height: 75%;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  padding-bottom: 150px;
}

.bio-copy {
  line-height: 1.9; /* Adjust the line height as needed */
  margin-bottom: 12px; /* Adjust the margin as needed */
  padding-bottom: 5px;
  padding-right: 120px;
  font-family: "custom1", "azo-sans-web", sans-serif;
  color: rgb(69, 51, 147);
}

.about-img {
  width: 75%;
  height: auto;
  padding: 5px;
  padding-left: 10px;
}

.header-copy {
  font-family: "custom1", "azo-sans-web", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(69, 51, 147);
  margin-bottom: 20px;
  /* text-shadow: -1px 0 rgb(69, 51, 147), 0 1px rgb(69, 51, 147),
    1px 0 rgb(69, 51, 147), 0 -1px rgb(69, 51, 147); */
}

.bio-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns */
  gap: 20px; /* Adjust the gap between columns as needed */
  align-items: center;
  justify-content: center;
}

.bio-copy {
  margin: 16;
  padding: 16;
  font-size: 25px;
  font-family: "custom1", "azo-sans-web", sans-serif;
}
